<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="crudoperation.Properties.Settings.crudConnectionString"
            connectionString="Data Source=DESKTOP-L48O798\sqlexpress;Initial Catalog=crud;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>